.offline-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 10000; // Ensure it stays on top of all other elements
}

.offline-container h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.offline-container p {
  font-size: 1.5rem;
}
