<!-- If countryData is available, display the details. Otherwise, show a message that no data is available -->
<div *ngIf="countryData; else noData">
  <div class="header">
    <button (click)="goBack()" class="back-button">← Retour</button>
    <h2 class="country-title">{{ countryData.country }}</h2>
  </div>

  <div class="totals">
    <div class="total-item">
      <h3>Total d'entrées :</h3>
      <p>{{ totalEntries }}</p>
    </div>
    <div class="total-item">
      <h3>Total de médailles cumulées :</h3>
      <p>{{ totalMedals }}</p>
    </div>
    <div class="total-item">
      <h3>Total d'athlètes cumulés :</h3>
      <p>{{ totalAthletes }}</p>
    </div>
  </div>
  <div class="chart-container">
    <!-- Line chart component from ngx-charts library -->
    <ngx-charts-line-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="lineChartData"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [autoScale]="autoScale"
      [yScaleMin]="yScaleMin"
      [yScaleMax]="yScaleMax"
    >
    </ngx-charts-line-chart>
  </div>
</div>

<!-- Template to show if no countryData is available -->
<ng-template #noData>
  <p>Aucune donnée de pays disponible.</p>
</ng-template>
