.totals-container {
  align-items: center;
  margin-bottom: 20px;
}

.totals {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.total-item {
  border: 2px solid #1e90ff;
  border-radius: 8px;
  padding: 5px 15px;
  text-align: center;
  background-color: transparent;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
